* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    
    --color-principal-red: #E3646E;
    --color-principal-purple: #BB72E9 ;
    --color-principal-blue: #3996DB ;
    --color-principal-green: #82BC4F ;
    --color-principal-yellow: #EABD5F ;

    --color-base-gray-100: #0D0E11 ;
    --color-base-gray-200: #16181D ;
    --color-base-gray-300: #292C34 ;
    --color-base-gray-400: #878EA1 ;
    --color-base-gray-500: #C0C4CE ;
    --color-base-gray-600: #E2E4E9 ;

    --font-family-title: "Asap", sans-serif;
    --title-lg: 800 56px/120% var(--font-family-title);
    --title-md: 800 24px/120% var(--font-family-title);
    --title-sm: 800 16px/120% var(--font-family-title);

    --font-family-subtitle: "Inconsolata", monospace;
    --text-subtitle: 400 20px/120% var(--font-family-subtitle);

    --font-family-text: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-family-text);
    --text-sm: 400 16px/140% var(--font-family-text);
}

body {
    
    background-color: var(--color-base-gray-200);
   
    
}

.gap-20 {
    gap: 20px;
}

.gap-16 {
    gap: 16px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16x;

    height: 100vh;
    
}

.grid {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
}
    

span {
    color: var(--color-principal-red);
    font: var(--text-subtitle);
    font-size: 50px;
}

.text-subtitle {
    font: var(--text-subtitle);
    color: var(--color-base-gray-500);
    font-size: 45px;
    
}

.title-lg {
    font: var(--title-lg);
    color: var(--color-base-gray-600);
    font-size: 150px;
}

.title-md {
    font: var(--title-md);
    color: var(--color-base-gray-600);
    font-size: 80px;
}

.title-sm {
    font: var(--title-sm);
    color: var(--color-base-gray-600);
    font-size: 50px;
}

.text-sm {
    font: var(--text-sm);
    color: var(--color-base-gray-400);
    font-size: 45px ; /*tamanho da fonte do paragrafo*/
    /*padding-inline: 900px; diminuir espaço das laterais e deixar o texto mais junto*/
    text-align: center;
}

.text-md{
    font: var(--text-md);
    color: var(--color-base-gray-500);
    font-size: 45px ; /*tamanho da fonte do paragrafo*/
    text-align: center;
}


