#intro {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: var(--bg-image);
    background-size: cover;
    height: 750px;

}


.content {
    display: flex; /* Use flexbox para os divs internos */
    flex-direction: column; /* Alinha os divs em coluna */
    align-items: center; /* Centraliza os divs horizontalmente */
    text-align: center; /* Centraliza o texto */
    max-width: 800px;/* Limita a largura do conteúdo */
    padding: 65px; /* Adiciona espaço interno */
    height: 100vh;
    
}

.text-subtitle {
    font: var(--text-subtitle);
    color: var(--color-base-gray-500);
    
}

.title-lg {
    font: var(--title-lg);
    color: var(--color-base-gray-600);
    font-size: 50px;
    margin: 8px 30px;
}

.text-sm {
    font: var(--text-sm);
    color: var(--color-base-gray-400);
    font-size: 12px ;
    margin: 12px;
}

.code {
    position: relative;
    left: 32px;
    bottom: 35px;
    size: 25px;
    
}

.avatar {
    padding-top: 45px;
}

.tag {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    font: var(--text-md);
    color: var(--color-base-gray-500);
    padding-top: 80x;
    
}

.tag li {
    display: flex; /* Organiza os itens em linha (imagem + texto) */
    align-items: center;  /* Alinha verticalmente ao centro */
    margin-bottom: 10px;

}

ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 16px;
    list-style: none;
    padding-top: 80px;
    
}

ul li {
    display: inline-block; /*quero os dois comportamentos, o padding se comporta melhor*/
    background-color: var(--color-base-gray-300);
    padding: 5px 8px;
    border-radius: 20px;
    
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
    
}

span > img {
    padding: 94px 88px;
}


