#intro {
    
    padding: 2px;
    
}

header {
    
    background-image: url(../assets/Background_Intro.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    height: 100vh;
}


.icone-perfil {
    margin-top: 395px;
    padding: 52px;
    gap: 5px;
    width: 72px;
    
}

Div.icone-perfil img {
    height: 200px;
    transform: translateY(50% 50%); /*centralizar ícone foto de perfil*/
    
}

figcaption {
    position: relative;
    left: 190px;
    bottom: 120px;
    
    
}


ul {
    size: 110px;
    gap: 16px;
    list-style: none;
    display: flex;
    
}

ul li {
    
    background-color: var(--color-base-gray-300);
    padding: 32px;
    border-radius: 55px;
    
    
    letter-spacing: 0.10rem;
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
    
}

.tecnologias li {
    font-size: 40px;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    
    
}


.tecnologias img {
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: center center;
    
    
}

