main {
    background-color: var(--color-base-gray-200);
    box-sizing: border-box;
}

.projects {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px; /*Espaçamento entre as colunas */

    padding: 56px;/*distância projetos e os textos*/
    margin-block: 165px;
    padding-inline: 500px;
    margin-bottom: 144px;
}

.projects img {
    height: auto;
    width: 100%;
    gap: 205px;
    padding: 32px;
    border-radius: 85px;
}

.grid-title {
    grid-auto-flow: row; /*deixa todo o conteúdo em linha*/ 
    text-align: center;
    padding-bottom: 56px;
    font-size: 100px;
}

.bg-projects {
    background-color: var(--color-base-gray-300);
    border-radius: 55px;
    letter-spacing: 0.10rem;
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);

    padding: 56px;  /*aumentar espaço entre a borda e os conteúdos*/
    margin: auto;
    height: 100%;

    transition: border 0.3s ease, transform 0.3s ease; /* Animação suave para a borda e transformação */
    border: 2px solid transparent; /* Borda invisível inicialmente */
}

a {
    text-decoration: none;
}

.bg-projects:hover {
    border: 2px solid #C0C4CE; /* Borda ao passar o mouse */
    transform: scale(1.05); /* Leve zoom no hover */
}

.bg-projects div {
    display: block;
    padding: 15px;
    border: 2px solid transparent; /* Define uma borda invisível por padrão */
    transition: border 0.3s ease; /* Suaviza a transição da borda */
}

.projects div p {
    text-align: left; /* Alinha o texto do <p> à esquerda */
    
    
}